<div class="container" id="samples">
  <div class="home-link">
        <%= link_to('Back to Home Page','/') %>
    </div>
     
    <hr>
    
    <h1>Portfolio</h1>
    <div class="nav-wrapper"></div>
    <div class="portfolio-slider">
        <div>
            <div class='url-link'><a target="_blank" href="https://www.appoptics.com/monitor"><%= image_tag('portfolio/ao1.png') %></a></div>
            
        </div>
        <div>
            <div class='url-link'><a target="_blank" href="https://www.appoptics.com/application-performance-monitoring"><%= image_tag('portfolio/ao2.png') %></a></div>
            
        </div>
        <div>
            <div class='url-link'><a target="_blank" href="https://www.appoptics.com/application-performance-monitoring"><%= image_tag('portfolio/ao3.png') %></a></div>
            
        </div>
        <div>
            <div class='url-link'><a target="_blank" href="https://www.appoptics.com/application-performance-monitoring"><%= image_tag('portfolio/ao4.png') %></a></div>
            
        </div>
        <div>
            <div class='url-link'><a target="_blank" href="https://www.appoptics.com/application-performance-monitoring"><%= image_tag('portfolio/ao5.png') %></a></div>
            
        </div>
        <div>
            <div class='url-link'><a target="_blank" href="https://www.appoptics.com/monitor"><%= image_tag('portfolio/ao6.png') %></a></div>
            
        </div>
        <div>
            <div class='url-link'><a target="_blank" href="https://www.appoptics.com/monitor"><%= image_tag('portfolio/ao7.png') %></a></div>
            
        </div>
        <div>
            <div class='url-link'><a target="_blank" href="https://www.appoptics.com/monitor"><%= image_tag('portfolio/ao8.png') %></a></div>
            
        </div>
        <div>
            <div class='url-link'><a target="_blank" href="https://www.appoptics.com/pricing"><%= image_tag('portfolio/ao9.png') %></a></div>
            
        </div>
        <div>
            <div class='url-link'><a target="_blank" href="https://www.appoptics.com/pricing"><%= image_tag('portfolio/ao10.png') %></a></div>
            
        </div>
        <div>
            <div class='url-link'><a target="_blank" href="https://www.appoptics.com/pricing"><%= image_tag('portfolio/ao11.png') %></a></div>
            
        </div>
    </div>
</div>