<div class="container">
    <h1>Portfolio</h1>
    <div class="nav-wrapper"></div>
    <div class="portfolio-slider">
        <div>
            <div class='url-link'><a href="">Link to Work</a></div>
            <%= image_tag('portfolio/ao1.png') %>
        </div>
        <div>
            <div class='url-link'><a href="">Link to Work</a></div>
            <%= image_tag('portfolio/ao2.png') %>
        </div>
        <div>
            <div class='url-link'><a href="">Link to Work</a></div>
            <%= image_tag('portfolio/ao3.png') %>
        </div>
        <div>
            <div class='url-link'><a href="">Link to Work</a></div>
            <%= image_tag('portfolio/ao4.png') %>
        </div>
        <div>
            <div class='url-link'><a href="">Link to Work</a></div>
            <%= image_tag('portfolio/ao5.png') %>
        </div>
        <div>
            <div class='url-link'><a href="">Link to Work</a></div>
            <%= image_tag('portfolio/ao6.png') %>
        </div>
        <div>
            <div class='url-link'><a href="">Link to Work</a></div>
            <%= image_tag('portfolio/ao7.png') %>
        </div>
        <div>
            <div class='url-link'><a href="">Link to Work</a></div>
            <%= image_tag('portfolio/ao8.png') %>
        </div>
        <div>
            <div class='url-link'><a href="">Link to Work</a></div>
            <%= image_tag('portfolio/ao9.png') %>
        </div>
        <div>
            <div class='url-link'><a href="">Link to Work</a></div>
            <%= image_tag('portfolio/ao10.png') %>
        </div>
        <div>
            <div class='url-link'><a href="">Link to Work</a></div>
            <%= image_tag('portfolio/ao11.png') %>
        </div>
    </div>
</div>