<div class="sample-wrapper">
<h2>Examples and Apps</h2>

<ul>
<li><%= link_to "Current Portfolio", "https://drive.google.com/file/d/0B6GaVaktfq5MRXBMMmt5emxZSUU/view?usp=sharing" %></li>
<li><%= link_to "React example code", "https://github.com/kacyhulme/animal-rescue" %></li>
<li><%= link_to "Heat Wave: Vanilla JS", "https://shielded-ravine-94683.herokuapp.com/" %></li>
<li><%= link_to "Code for Heat Wave", "https://github.com/kacyhulme/heatwave" %></li>
<li><%= link_to "CSS Fun", "/samples/cssfun" %></li>
<li><%= link_to "JavaScript Fun", "/samples/jsfun" %></li>

</ul>
</div>
