<div id="sample-wrapper" class="container">
    <h2>Portfolio</h2>
    <div class="overlay"><div class="inner-overlay"></div></div>
    <div class="row">
        <div class="col-md-3">
            <div class="image-card" data-img="6"><%= image_tag("portfolio/ao6.png") %></div>
        </div>
        <div class="col-md-3">
            <div class="image-card" data-img="7"><%= image_tag("portfolio/ao7.png") %></div>
        </div>
        <div class="col-md-3">
            <div class="image-card" data-img="1"><%= image_tag("portfolio/ao1.png") %></div>
        </div>
        <div class="col-md-3">
            <div class="image-card" data-img="8"><%= image_tag("portfolio/ao8.png") %></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="image-card" data-img="5"><%= image_tag("portfolio/ao5.png") %></div>
        </div>
        <div class="col-md-3">
            <div class="image-card" data-img="2"><%= image_tag("portfolio/ao2.png") %></div>
        </div>
        <div class="col-md-3">
            <div class="image-card" data-img="3"><%= image_tag("portfolio/ao3.png") %></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
        <div class="image-card" data-img="9"><%= image_tag("portfolio/ao9.png") %></div>
        </div>
        <div class="col-md-3">
            <div class="image-card" data-img="10"><%= image_tag("portfolio/ao10.png") %></div>
        </div>

        <div class="col-md-3">
            <div class="image-card" data-img="11"><%= image_tag("portfolio/ao11.png") %></div>
        </div>
    </div>
</div>

