<div class="container">
  <!-- SnapWidget -->
  <div class="row top">
    <div class="col-md-12">
      <iframe src="http://snapwidget.com/in/?u=aGVhbHRoeWZvcnJlYWx8aW58MTI1fDd8MXx8bm98NXxub25lfG9uU3RhcnR8eWVzfHllcw==&ve=040515" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:1px solid DarkTurquoise; border-radius: 4px;  overflow:hidden; width:100%;"></iframe>
    </div>
  </div>
</div>

<div class="container body">
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <h2>Kacy Hulme</h2>
            <p><%= mail_to "kacy.hulme@gmail.com", "email" %></p>
            <p><%= link_to "resume", "https://docs.google.com/document/d/1rChU6A7tOMKC-YqSu8G0dKunXfPctQqJhIe5g26lqdc/edit?usp=sharing" %></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <h2>My Projects</h2>
             <h5>JavaScript, jQuery and Sass</h5>
            <p class="btn btn-xs" id="btnbottom"><%= link_to "Timeline Tooltip", "https://github.com/kacyhulme/timeline" %></p>
            <p class="btn btn-xs" id="btnbottom"><%= link_to "JavaScript Graffiti", "https://github.com/kacyhulme/javascript_graffiti" %></p>
            <h5>Rails</h5>
            <p class="btn btn-xs" id="btnbottom"><%= link_to "Healthy For Real", "http://serene-wildwood-9062.herokuapp.com/" %></p>
            <p class="btn btn-xs" id="btnbottom"><%= link_to "Project Management", "http://secure-sierra-2365.herokuapp.com" %></p>
            <p class="btn btn-xs" id="btnbottom"><%= link_to "That on Which You Focus", "http://arcane-garden-7729.herokuapp.com" %></p>
            <h5>EmberCLI/Rails</h5>
            <p class="btn btn-xs" id="btnbottom"><%= link_to "Better Films (WIP)", "http://floating-journey-6397.herokuapp.com/" %></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <h2>Skills</h2>
            <p><em>Ruby/Rails, Ember.js/CLI, JavaScript, Heroku, Git, Github, Bootstrap, HTML, CSS, jQuery, PostgreSQL, SQLite, MySQL, Capybara, RSpec.</em></p>
            <br>
            <p><%= link_to "Check out my speaking engagement at Women Who Code!", "http://multimedianewsroom.us/2015/04/09/women-who-code/" %></p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <h2>Links</h2>
            <p><%= link_to "GitHub", "https://github.com/kacyhulme" %></p>
            <p><%= link_to "Twitter", "https://twitter.com/kacyhulme" %></p>
            <p><%= link_to "Angel List", "https://angel.co/kacyhulme" %></p>
            <p><%= link_to "Linked In", "https://www.linkedin.com/in/kacyhulme" %></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail infiniti-pic">
            <%= image_tag("infiniti.jpg") %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail kacy-pic">
            <%= image_tag("kacypic4_smaller.jpg") %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <a class="twitter-timeline" href="https://twitter.com/kacyhulme" data-widget-id="474617050862612480">Tweets by @kacyhulme</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="thumbnail">
        <h2 class="center">When I'm not working</h2>
        <ul class="nav nav-pills" style="text-align:center;">
          <li style="float:none; display:inline-block;" role="presentation"><%= link_to "Articles", "http://www.examiner.com/healthy-living-in-austin/katherine-hulme" %></li>
          <li style="float:none; display:inline-block;" role="presentation"><%= link_to "Writing", "http://healthyforreal.com/" %></li>
          <li style="float:none; display:inline-block;" role="presentation"><%= link_to "Acting", "https://www.facebook.com/pages/CaseWorker/1514510822161786" %></li>
          <li style="float:none; display:inline-block;" role="presentation"><%= link_to "Art/Photography", "http://arcane-garden-7729.herokuapp.com" %></li>
          <li style="float:none; display:inline-block;" role="presentation"><%= link_to "Jewelry", "https://www.etsy.com/shop/GraffitiGallery?ref=l2-shopheader-name" %></li>
          <li style="float:none; display:inline-block;" role="presentation"><%= link_to "Volunteer Animal Rescue", "http://www.austintexas.gov/department/animal-services" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>