<div class="container">
	<div class="jumbotron" style="margin-top: 60px">
		<div class="row">
			<div class="col-md-6">
				<h1>Kacy Hulme</h1>
			</div>
			<div class="col-md-6">
				<p> phone: 512.638.5448</p>
				<p> email: kacyhulme at gmail dot com </p>
			</div>
		</div>
				<h2>My apps</h2>
					<button class="btn btn-warning btn-lg"><%= link_to "Under The Plate", "http://serene-wildwood-9062.herokuapp.com" %></button>
					<button class="btn btn-warning btn-lg"><%= link_to "That on Which You Focus", "http://arcane-garden-7729.herokuapp.com" %></button>
					<button class="btn btn-warning btn-lg"><%= link_to "Project Management", "http://secure-sierra-2365.herokuapp.com" %></button>
					<h3>Other Links</h3>
					<p><%= link_to "GitHub", "https://github.com/kacyhulme" %></p>
					<p><%= link_to "Twitter", "https://twitter.com/kacyhulme" %></p>
					<p><%= link_to "Angel List", "https://angel.co/kacyhulme" %></p>
					<p><%= link_to "Linked In", "https://www.linkedin.com/in/kacyhulme" %></p>
	</div>
</div>

