  <!-- SnapWidget -->
  <div class="row top">
   <div class="col-md-4 pic-header">
     <p>Just for fun, I write a blog about living and eating healthy. It's called <%= link_to "Healthy For Real", "http://www.healthyforreal.com", {style:"color:darkblue;"} %>. Here are some fun pics from my Instagram feed.
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </p>
  </div>
  <div class="col-md-8">
    <div class="ig-root DiX1e3 clearfix"> </div>
    <script>
     scripts=[];
     host='http://www.uptsi.com';
     js=document.createElement('script');
     js.src=host+"/tools/widgets/b/hI4839G4h4Z052jD1e76HjK8T6gSiW8QR354NJFlile674aLV8a12i7MY0cf2j2d516k9c";
     scripts[0] = js;
     for(i=0;i< scripts.length; i++){document.getElementsByTagName("HEAD")[0].appendChild(scripts[i]); }
   </script>
</div>


<div class="container body">
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12">
              <div class="cells">
                <h2 style="margin-bottom: 24px;">Kacy Hulme</h2>
                <p><%= mail_to "kacy.hulme@gmail.com", "email me" %></p>
                <p><%= link_to "read my resume", "https://docs.google.com/document/d/1vU5q5Xz4lQ2-Ur5nVv9ZbhrVtiD861waXpq1z2dOEpo/edit?usp=sharing" %></p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="cells bounceme">
                <div class="cell kacy-pic">
                  <%= image_tag("kacypic4_smaller.jpg") %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="cells">
            <h2 style="margin-bottom: 40px;">My Projects</h2>
            <p>Node, HTML5 Canvas, JavaScript, Express.js, Bootstrap, Heroku</p>
            <p class="btn btn-xs" id="btnbottom"><%= link_to "Code", "https://github.com/kacyhulme/heatwave" %></p>
            <p class="btn btn-xs" id="btnbottom"><%= link_to "Live Version", "https://shielded-ravine-94683.herokuapp.com" %></p>

            <p>Angular</p>
            <div class="btn btn-xs" id="btnbottom"><%= link_to "Code", "https://github.com/kacyhulme/farm_sanctuary" %></div>

            <p>jQuery, Bootstrap, Sass & Node</p>
            <p class="btn btn-xs" id="btnbottom"><%= link_to "Code", "https://github.com/kacyhulme/javascript_graffiti" %></p>
            <p class="btn btn-xs" id="btnbottom"><%= link_to "Live Version", "https://floating-tundra-8531.herokuapp.com" %></p>

            <p>Python</p>
            <p class="btn btn-xs" id="btnbottom"><%= link_to "Scrapy", "https://github.com/kacyhulme/scrape_this/blob/master/scrape_this/spiders/mycows.py" %></p>
            <p class="btn btn-xs" id="btnbottom"><%= link_to "All the Things", "https://github.com/kacyhulme/grocerygame/blob/master/pygame.py" %></p>
            <hr>
            <p><em>*this site is built with Ruby/Rails</em></p>
          </div>  
        </div>

        <div class="col-md-12">
          <div class="cells">
            <h2 style="margin-bottom: 24px;">Skills</h2>
            <p><b>EVERYDAY:</b><em> JavaScript, Python, Ruby, XML, JSON, HTML, CSS, git, GitHub, Werker, JIRA, Zendesk, PagerDuty, Confluence</em></p>
            <p><b>SOMETIMES:</b><em> Sass, Bootstrap, React.js, Rails, Angular.js, Ember, RSpec, Mocha, Jasmine, Testem, QUnit, Heroku, PostgreSQL, AWS, Elasticsearch, Adobe Photoshop, Adobe Illustrator, WordPress</em></p>
            <hr>
            <p>Check out my speaking engagement <%= link_to "about Ember.js ", "http://multimedianewsroom.us/2015/04/09/women-who-code/" %>at the <b>Women Who Code</b> meetup!</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="cells bottom-row">
            <h2>Links</h2>
            <ul class="nav nav-pills" style="text-align:center;">
              <li style="float:none; display:inline-block;" role="presentation"><%= link_to "GitHub", "https://github.com/kacyhulme" %></li>
              <li style="float:none; display:inline-block;" role="presentation"><%= link_to "Twitter", "https://twitter.com/kacyhulme" %></li>
              <li style="float:none; display:inline-block;" role="presentation"><%= link_to "Angel List", "https://angel.co/kacyhulme" %></li>
              <li style="float:none; display:inline-block;" role="presentation"><%= link_to "Linked In", "https://www.linkedin.com/in/kacyhulme" %></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="cells bottom-row bounceme">
            <div class="cell infiniti-pic">
              <%= image_tag("infiniti.jpg") %>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="cells bottom-row">
            <h2>When I'm not working</h2>
            <ul class="nav nav-pills" style="text-align:center;">
              <li style="float:none; display:inline-block;" role="presentation"><%= link_to "Improv", "http://www.hideouttheatre.com/" %></li>
              <li style="float:none; display:inline-block;" role="presentation"><%= link_to "Acting", "http://www.wisdom-productions.com/" %></li>
              <li style="float:none; display:inline-block;" role="presentation"><%= link_to "Writing", "http://healthyforreal.com/" %></li>
              <li style="float:none; display:inline-block;" role="presentation"><%= link_to "Art/Photography", "https://floating-tundra-8531.herokuapp.com/" %></li>
              <li style="float:none; display:inline-block;" role="presentation"><%= link_to "Volunteer Animal Rescue", "http://www.austintexas.gov/department/animal-services" %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3" style="margin-top: 6px;">
      <a class="twitter-timeline" href="https://twitter.com/kacyhulme" data-widget-id="474617050862612480">Tweets by @kacyhulme</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>

</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73390013-1', 'auto');
  ga('send', 'pageview');

</script>