<div class="container">
  <div class="row">
    <div class="col-md-12 header">
      <h1>Kacy Hulme</h1>
      <p><%= mail_to "kacy.hulme@gmail.com", "email me" %></p>
      <p><%= link_to "read my resume", "https://docs.google.com/document/d/1vU5q5Xz4lQ2-Ur5nVv9ZbhrVtiD861waXpq1z2dOEpo/edit?usp=sharing" %></p>
    </div>  
  </div>

  <div class="row">
    <div class="col-md-2">
     <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/7098083d3959500aa180dce7725102c3.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
    </div>
    <div class="col-md-8">
      <div class="my-projects">
        <h2>My Projects</h2>
        <p>Node, HTML5 Canvas, JavaScript, Express.js, Bootstrap, Heroku</p>
        <p class="btn btn-default"><%= link_to "Code", "https://github.com/kacyhulme/heatwave" %></p>
        <p class="btn btn-default"><%= link_to "Live Version", "https://shielded-ravine-94683.herokuapp.com" %></p>

        <p>Angular</p>
        <div class="btn btn-default"><%= link_to "Code", "https://github.com/kacyhulme/farm_sanctuary" %></div>

        <p>jQuery, Bootstrap, Sass & Node</p>
        <p class="btn btn-default"><%= link_to "Code", "https://github.com/kacyhulme/javascript_graffiti" %></p>
        <p class="btn btn-default"><%= link_to "Live Version", "https://floating-tundra-8531.herokuapp.com" %></p>

        <p>Python</p>
        <p class="btn btn-default"><%= link_to "Scrapy", "https://github.com/kacyhulme/scrape_this/blob/master/scrape_this/spiders/mycows.py" %></p>
        <p class="btn btn-default"><%= link_to "All the Things", "https://github.com/kacyhulme/grocerygame/blob/master/pygame.py" %></p>
        <hr>
        <p><em>*this site is built with Ruby/Rails</em></p>
      </div>
      <div class="my-skills">
        <h2>Skills</h2>
        <p><b>EVERYDAY:</b><em> JavaScript, Python, Ruby, XML, JSON, HTML, CSS, git, GitHub, Werker, JIRA, Zendesk, PagerDuty, Confluence</em></p>
        <p><b>SOMETIMES:</b><em> Sass, Bootstrap, React.js, Rails, Angular.js, Ember, RSpec, Mocha, Jasmine, Testem, QUnit, Heroku, PostgreSQL, AWS, Elasticsearch, Adobe Photoshop, Adobe Illustrator, WordPress</em></p>
        <hr>
        <p>Check out my speaking engagement <%= link_to "about Ember.js ", "http://multimedianewsroom.us/2015/04/09/women-who-code/" %>at the <b>Women Who Code</b> meetup!</p>
      </div>

      <div class="my-links">
        <h2>Links</h2>
        <ul class="nav nav-pills" style="text-align:center;">
          <li><%= link_to "GitHub", "https://github.com/kacyhulme" %></li>
          <li><%= link_to "Twitter", "https://twitter.com/kacyhulme" %></li>
          <li><%= link_to "Angel List", "https://angel.co/kacyhulme" %></li>
          <li><%= link_to "Linked In", "https://www.linkedin.com/in/kacyhulme" %></li>
        </ul>
      </div>


      <div class="my-hobbies">
       <h2>When I'm not working</h2>
       <ul class="nav nav-pills" style="text-align:center;">
         <li><%= link_to "Improv", "http://www.hideouttheatre.com/" %></li>
         <li><%= link_to "Acting", "http://www.wisdom-productions.com/" %></li>
         <li><%= link_to "Writing", "http://healthyforreal.com/" %></li>
         <li><%= link_to "Art/Photography", "https://floating-tundra-8531.herokuapp.com/" %></li>
         <li><%= link_to "Volunteer Animal Rescue", "http://www.austintexas.gov/department/animal-services" %></li>
       </ul>

     </div>
   </div>
   <div class="col-md-2">

    <a class="twitter-timeline" data-width="220" data-height="1200" href="https://twitter.com/kacyhulme">Tweets by kacyhulme</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
</div>
