<div class="container-fluid">
    <div class="home-link">
        <%= link_to('Back to Home Page','/') %>
    </div>
    <h1>Contact me</h1>
    <div>
        <%= link_to('Resume', 'https://docs.google.com/document/d/1vU5q5Xz4lQ2-Ur5nVv9ZbhrVtiD861waXpq1z2dOEpo/edit') %>
    </div>
    <div>
        <%= link_to('LinkedIn','https://www.linkedin.com/in/kacyhulme') %>
    </div>
    <div>
        <%= link_to('GitHub','https://github.com/kacyhulme') %>
    </div>
    <div>
        <%= link_to('Twitter','https://twitter.com/kacyhulme') %>
    </div>
</div>